# Node
node_modules
npm-debug.log
yarn-error.log

# Build output
dist

# Environment
.env
.env.*

# IDE
.vscode
.idea
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Testing
coverage/

# Logs
*.log

# Misc
*.md

